<!DOCTYPE html>
<html lang="es" ng-app="projectNotes">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Project-Notes</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	
	<!-- Angular and JavaScript file references -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.3.9/angular-resource.js"></script>
    <script type="text/javascript" src="app.js"></script>
    
</head>
<body>
	<nav id="navbarid" class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
		<div class= "container clearfix">
			<div class="navbar-header">
				<a id="home" href="#" class="navbar-brand">Home</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a id="signIn" href="#sigIn" type="button" class="btn btn-primary">Sign In</a>
					</li>
					<li>
						<a id="signUp" href="#sigUp" type="button" class="btn btn-primary">Sign Up</a>
					</li>
				</ul>
	
			</div>
		</div>
	</nav>
	
	<div id="homepg" class="container">
		<div class="row well">
			<div class="page-header">
			    <div class="col-sm-2"></div>
			    <h1>Users List</h1>
			</div>
		
			<div class="row" ng-controller="userController as userCtrl">
			    <div class="col-sm-2"></div>
			    <div class="col-sm-6">
			        <section class="tab" ng-controller="TabController as tab">
			            <ul class="nav nav-pills">
			                <li ng-class="{ active: tab.isSet(1) }">
			                    <a href ng-click="tab.setTab(1)">Users</a></li>
			            </ul>
			            
			            <div ng-show="tab.isSet(1)">
			                <div class="panel-heading">
			                    <h3 class="panel-title">User List:</h3>
			                </div>
			                <div class="panel-body" ng-repeat="user in userCtrl.users">
			                    <p><b>Nickname:</b> {{user.nickname}}</p>
			                    <div class="panel-body" ng-repeat="notes in user.listNotes">
			                    	<p>- {{notes.text}}</p>
			                	</div>
			                </div>
			                
			            </div>
			        </section>
			    </div>
			    <div class="col-sm-3">
			        <form name="userForm" ng-submit="userForm.$valid && userCtrl.addUser()" novalidate>
			            <h4>Create user</h4>
			            <fieldset class="form-group">
			                <input ng-minlength=4 class="form-control" placeholder="Write the Name"
			                       title="Name" ng-model="userCtrl.user.name" required/>
			                <input ng-minlength=4 class="form-control" placeholder="Write the surname"
			                       title="Surname" ng-model="userCtrl.user.surname" required/>
			                <input ng-minlength=4 class="form-control" placeholder="Write the nickname"
			                       title="Nickname" ng-model="userCtrl.user.username" required/>
			                <input ng-minlength=4 class="form-control" placeholder="Write the password"
			                       title="Password" ng-model="userCtrl.user.pass" required/>
			            </fieldset>
			            <fieldset class="form-group">
			                <input type="submit" class="btn btn-primary pull-right" value="Create user"/>
			            </fieldset>
			        </form>
			    </div>
			</div>
		</div>
	</div>
</body>
</html>